.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instruction {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    gap: 20px;
}

#result {
   display: flex;
   justify-content: center;
   align-items: center; 
}